.ImageCard {
  position: relative;
  overflow: hidden;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.ImageCardImage {
  width: 100%;
  height: auto;
  display: block;
  cursor: pointer;
}
